# App
ENVIRONMENT=development
ENABLE_SWAGGER=true
PORT=8080
ALLOWED_ORIGINS=http://localhost:3000
BASE_URL=http://localhost:8080
LOG_LEVEL=INFO
DOMAIN=localhost

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/auth_go?sslmode=disable

# Auth
JWT_ACCESS_SECRET=change-me
REFRESH_TOKEN_HASH_KEY=change-me-too
SESSION_SECRET=change-me

# OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Email
EMAIL=
PASSWORD=
